extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget dignissim ante. Aliquam massa metus, aliquet a dui vitae, tincidunt iaculis nulla. 
                p usce rhoncus urna erat, vel commodo diam pharetra volutpat. Curabitur id purus eget erat varius semper. Praesent ultricies sed diam eget varius. Aenean sodales enim id libero pretium laoreet. Nullam id viverra risus. Nam quis semper ante. Fusce sed nulla sit amet massa ultricies tincidunt sed nec arcu.
                p Praesent ante quam, dapibus nec faucibus sit amet, aliquet vel ligula. Integer rutrum nibh eu metus feugiat aliquam. Nulla eros velit, aliquam id pretium non, malesuada sed risus. Mauris ipsum ligula, interdum sit amet ante et, mollis vestibulum odio. Ut sollicitudin odio lectus, quis ultrices odio condimentum ac. Sed tempus mauris libero, eget lacinia urna interdum eu. Nam lacus ligula, malesuada nec consequat tincidunt, placerat vitae mauris. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras vestibulum elit et enim imperdiet pellentesque. Praesent pulvinar eleifend erat vitae condimentum. Mauris ac orci urna. 
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Grandes Precios
                    p Cras vestibulum elit et enim imperdiet pellentesque. Praesent pulvinar eleifend erat vitae condimentum. Mauris ac orci urna.
                .col-md-4
                    img(src="img/icono_calendario.svg", class="img-fluid mb-4")
                    h2.mb-4 Todo el año!
                    p Cras vestibulum elit et enim imperdiet pellentesque. Praesent pulvinar eleifend erat vitae condimentum. Mauris ac orci urna.  